.hithere {
  animation: hithere 1.5s ease 1;
  animation-delay: 500ms;
}

@keyframes hithere {
  30% {
    transform: scale(1.01);
  }
  40%, 60% {
    transform: rotate(-2deg) scale(1.01);
  }
  50% {
    transform: rotate(2deg) scale(1.01);
  }
  70% {
    transform: rotate(0deg) scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.slideright {
  animation: slideright;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideright {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
.slideleft {
  animation: slideleft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideleft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
html {
  box-sizing: border-box;
  color: rgb(22, 42, 60);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  position: relative;
  font-size: 18px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 400;
  text-transform: uppercase;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: rgb(22, 42, 60);
}

/* visited link */
a:visited {
  color: rgb(22, 42, 60);
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

.btn {
  height: 3em;
  border: none;
  padding: 0.5em 1em;
  background-color: rgb(51, 181, 69);
  color: rgb(237, 237, 237);
  cursor: pointer;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.5);
  transition-duration: 500ms;
}
.btn:hover {
  box-shadow: 0.5em 0 0.75em 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.flex-centered-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 2.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
  grid-template-rows: auto;
}

body {
  background-color: rgb(237, 237, 237);
  grid-template-areas: "header header header header header header header header header header header header" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
  margin: 0;
  height: 100%;
}
body header {
  grid-area: header;
  background-color: rgb(237, 237, 237);
  column-gap: 0.5em;
  grid-template-areas: "logo logo logo  logo logo logo . btn btn btn btn btn btn";
  align-items: center;
  padding: 0.5em;
  height: 5em;
  position: fixed;
  top: 0;
  z-index: 99;
}
body header .logo {
  grid-area: logo;
}
body header .main-nav {
  position: absolute;
  top: 5em;
  left: 0;
  height: 100vh;
  width: 50%;
  background-color: rgb(225, 220, 158);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  display: none;
}
body header .main-nav a {
  text-decoration: none;
  margin: 1em auto;
}
body header .main-nav a:hover {
  text-decoration: underline;
}
body header .btn-group {
  grid-area: btn;
  justify-self: flex-end;
  display: flex;
  align-items: center;
}
body header .btn-group .toggle {
  cursor: pointer;
  margin-left: 1em;
}
body header .btn-group .toggle .bar {
  height: 0.25em;
  width: 2em;
  margin: 0.25em auto;
  display: block;
  background-color: rgb(22, 42, 60);
}
body main {
  grid-area: main;
}
body main .hero {
  grid-template-areas: ". hero hero hero hero hero hero hero hero hero hero .";
  margin-top: 5em;
  height: 100vh;
}
body main .hero__content {
  color: rgb(237, 237, 237);
  grid-area: hero;
  background-color: rgb(22, 42, 60);
  padding: 2em;
  opacity: 0.9;
}
body main .hero__content h1 {
  color: rgb(235, 150, 13);
}
body main .hero__content .btn {
  background-color: rgb(235, 150, 13);
  color: rgb(22, 42, 60);
}
body main .hero::before {
  content: "";
  background-image: url("./img/img1.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
body main .schools,
body main .corporate,
body main .recreation {
  min-height: 100vh;
  grid-template-areas: ". content content content content content content content content content content .";
  align-content: center;
}
body main .schools__content,
body main .corporate__content,
body main .recreation__content {
  grid-area: content;
  grid-template-areas: ". img img img img img img img img img img ." ". h h h h h h h h h h ." ". p p p p p p p p p p ." ". btn btn btn btn btn . . . . . .";
  position: relative;
}
body main .schools__content img,
body main .corporate__content img,
body main .recreation__content img {
  transform: rotate(-3deg);
}
body main .schools__content h2,
body main .corporate__content h2,
body main .recreation__content h2 {
  grid-area: h;
  display: flex;
  padding-top: 1em;
  font-size: 1.2em;
  align-items: center;
  gap: 0.5em;
}
body main .schools__content img,
body main .corporate__content img,
body main .recreation__content img {
  grid-area: img;
  opacity: 0.9;
  box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.75);
}
body main .schools__content p,
body main .corporate__content p,
body main .recreation__content p {
  grid-area: p;
}
body main .schools__content .btn,
body main .corporate__content .btn,
body main .recreation__content .btn {
  grid-area: btn;
}
body main .schools::before {
  content: "";
  background-image: url("./img/icons/5.png");
  background-color: lightgrey;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  background-origin: border-box;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
body main .corporate__content img {
  transform: rotate(3deg);
}
body main .corporate::before {
  content: "";
  background-image: url("./img/icons/1.png");
  background-color: rgb(225, 220, 158);
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
body main .recreation::before {
  content: "";
  background-image: url("./img/icons/5.png");
  background-color: lightgrey;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
body footer {
  grid-area: footer;
  background-color: rgb(42, 84, 114);
  color: rgb(237, 237, 237);
  grid-template-areas: ". w w w w w w w w w w ." "c c c c c c c c c c c c";
}
body footer .widgets {
  grid-area: w;
  margin: 2em auto;
}
body footer .widgets .widget {
  padding: 0.5em 0;
  width: 100%;
}
body footer .widgets .widget h2 {
  color: rgb(235, 150, 13);
  line-height: 1.75;
}
body footer .widgets .widget iframe {
  max-width: 90%;
  min-height: 20em;
}
body footer .widgets .widget a {
  display: block;
  color: rgb(237, 237, 237);
  margin: 0.7em 0;
}
body footer .widgets .contacts {
  border-top: 1px solid rgb(237, 237, 237);
}
body footer .credits {
  grid-area: c;
  align-self: center;
  text-align: center;
  background-color: black;
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  body header {
    grid-template-areas: "logo logo nav nav nav nav nav nav nav nav btn btn";
  }
  body header .main-nav {
    position: unset;
    grid-area: nav;
    flex-direction: row;
    height: unset;
    justify-content: space-evenly;
    width: auto;
    background-color: unset;
    display: flex;
  }
  body header .main-nav a {
    margin: 0 0.5em;
  }
  body header .btn-group .toggle {
    display: none;
  }
  body main .hero {
    grid-template-areas: ". . hero hero hero hero hero hero hero hero . .";
    margin-top: unset;
  }
  body main .schools,
  body main .corporate,
  body main .recreation {
    grid-template-areas: ". . . content content content content content content . . .";
    align-content: center;
  }
  body main .schools__content img,
  body main .corporate__content img,
  body main .recreation__content img {
    width: 80%;
  }
  body footer .widgets {
    display: flex;
  }
  body footer .widgets .contacts {
    border-top: none;
  }
}

/*# sourceMappingURL=style.css.map */
